#form{
    margin-left: 36vw;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 3px;
    height: 50vh;
    width: 29vw;

}
h2{
    margin-right: 2vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    color: rgb(151, 57, 57);
}
p{
    margin-bottom: 2px;
    margin-top: 2px;

}
.error{
    font-weight: lighter;
    font-size: small;
    color: red;
}
input{
    /* margin-bottom: 10px; */
    border: 1px solid;
    border-radius: 3px;
    width: 25vw;
    height: 5vh;
    margin-bottom: 10px;
}
#but{
    border: 1px solid;
    border-radius: 3px;
    height: 6vh;
    color: cadetblue;
    background-color: brown;
    width: 29vw;
    margin-top: 9vh;
}

